.video {
  margin: auto;
  max-width: 1024px;
  width: 100%;
  background-color: black;
}

@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
  .video-size {
      margin-left: 0px;
     
  }
}

