.hours {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.main {
    display: flex;
    flex-wrap: wrap;

}

.info {
    width: 50%;
    margin-right: 100px;
}

.video {
    justify-content: center;
}

.videocontainer {
    background-color: black;
}