.logo {
    max-width: 70%;
}

.bottom-footer{
    background-image: url("../Assets/barFooterImage2Resize.jpg");
    
   
}

#navi-2{
    color: white;
}

.social {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}