.App {
	text-align: center;
}



/* .home-container {
	margin-top: 1000px;
}

@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
	.home-container {
		margin-top: 600px;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
	.home-container {
		margin-top: 550px;
	}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
	.home-container {
		margin-top: 150px;
	}
} */
